@media only screen and (max-width: 768px) {
    .navbar-nav.navbar-right:last-child
    {
        margin-top: 0;
        margin-right: 0;
    }
    .navbar-nav {
        margin-left: 0;
        text-align: center;
    }
    .navbar-toggle {
        margin-top: 45px;
    }
    #menu-menu_v2
    {
        float: unset;
        margin-left: 0;
    }
    
}